body {
    background-color: black;
    margin: 0;
}

.container {
    background-color: lightgray;
    width: 90%;
    margin: auto;

}

div.feedContainer {
    width: 600px;
    margin: auto;

}

.header {
    background-color: white;
    padding: 10px;
}

.header h1 {
    margin: 0;
}

.post {
    background-color: white;
    margin-top: 20px;


}

.text {
    align-self: center;

}

div.post h2,
div.post p,
div.postHeader span {
    padding: 10px;
}

div.post img {
    width: 100%;
}


div.postHeader {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

div.postHeader span {
    display: block;
    margin-top: 20px;
    color: gray;
}